body {
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
